@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 
#corps
{
   color: black;
   background-image: url("ensi.jpg");
   background-repeat: no-repeat;
   text-align: center;
}
html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  color: #FFF;
background-color: #81DAF5;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'News Cycle', Arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}
h1
{
	padding-left :100px;
}
h2
{ font-size: 165%;
}
h3
{ font-size: 130%;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font-size: 150%;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}
  
span
{ color: #1A6FFD;}

a, a:hover
{ color: #FFF;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, nav
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
header
{ height: 160px;}

#banner
{ width: 940px;
  position: relative;
  height: 80px;
  padding: 15px 0 0 0;
  background: url(ensi.jpg);}
 
nav
{ height: 50px;}  
  
#menubar
{ width: 940px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border: 7px 7px 0px 0px;} 
  
#welcome
{ width: 880px;
  float: left;
  height: 30px;
  margin: 0 auto;
  padding-left: 220px;

} 
  


#welcome H3
{ font: normal 300% 'News Cycle', Arial, sans-serif;
  letter-spacing: -3px;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;}

  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a
{ color: #FFF;
  background: #43A9FF;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);  
  text-shadow: none;}
  
ul#nav li:hover a
{ color: #FFF;
  background: #43A9FF;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  text-shadow: none;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: transparent url(../images/transparent.png) repeat;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 
.inset {
	padding-left :100px;
}
.inset select {
	padding: 15px 10px;
  margin-bottom: 5px;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: black;
  display: block;
}
.inset input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 5px;
  width: 200px;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: black;
  
  
}

.inset input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.inset input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.inset input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.valid 
{padding-left:250px;}
.valid input 
{
	
 padding:3px;
 border:1px solid #2196F3;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #2196F3 inset;
 color : white;
 background-color:#2196F3;
 }
footer
{ width: 940px;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center; 
  background: transparent url(../images/transparent.png) repeat;
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

footer a, footer a:hover
{ text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  img {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
  .photo{
cursor:pointer;}
 